.auth {
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.head {
  font-size: 1.125rem;        /* equivale a text-lg */
  margin: 0.75rem;            /* equivale a m-3 */
  text-transform: uppercase;  /* equivale a uppercase */
}

.relleno {
  padding: 1rem;
}