.encabezado {
  /* Ajusta este valor si "h-xl" tiene otro significado en tu proyecto */
  height: 48px;           /* h-xl: altura extra grande (ejemplo) */
  display: flex;           /* flex: establece display flex */
  justify-content: space-between; /* justify-between: distribuye los hijos con espacio entre ellos */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 
              0 1px 2px 0 rgba(0, 0, 0, 0.06); /* shadow: sombra ligera */
  background-color: #ffffff; /* bg-white: fondo blanco */
  color: #4a5568;          /* text-gray-700: color de texto gris */
  position: relative;      /* relative: posici칩n relativa */
}

.contenedor {
  display: flex;
  align-items: center;
  padding-left: 1rem; /*16px pl-4 */
}

.logo {
  margin-right: 0.5rem; /* equivale a mr-2 */
  height: 2.5rem;      /* equivale a h-10 */
  width: 2.5rem;       /* equivale a w-10 */
}

.titulo {
  font-size: 1.125rem; /* Equivalente a text-lg */
  line-height: 1.75rem; /* Line-height por defecto de text-lg */
  font-weight: 600; /* Equivalente a font-semibold */
  color: #1a202c;           /* equivale a text-gray-900 */
  text-transform: uppercase; /* Equivalente a uppercase */
  text-decoration: none; /* Esto quita el subrayado */
}

/* Boton esconder*/
.menuButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  color: #4a5568;
  transition: transform 0.2s ease-in-out;
}

/* Peque침a animaci칩n cuando se presiona */
.menuButton:active {
  transform: scale(0.9);
}

/* Ocultar el bot칩n en pantallas grandes */
@media (min-width: 769px) {
  .menuButton {
      display: none;
  }
}
