.encabezado {
  height: 48px; /* Altura equivalente a h-xl */
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* shadow */
  background-color: #fef3c7; /* bg-amber-100 */
  color: #374151; /* text-gray-700 */
  position: relative;
}

.contenedor {
  Display: flex;
  align-items: center;
  padding-left: 16px; /* pl-4 */
}

.logo {
  margin-right: 8px; /* mr-2 */
  height: 40px; /* h-10 */
  width: 40px; /* w-10 */
}

.titulo {
  .tu-clase-css {
    font-size: 1.125rem;    /* Equivalente a text-lg */
    line-height: 1.75rem;   /* Line-height por defecto de text-lg */
    font-weight: 600;       /* Equivalente a font-semibold */
    color: #111827;         /* Equivalente a text-gray-900 */
    text-transform: uppercase; /* Equivalente a uppercase */
  }
}