.fixed {
  display: flex; /* flex */
  align-items: center; /* items-center */
  position: fixed; /* fixed */
  top: 0; /* inset-0 */
  right: 0; /* inset-0 */
  bottom: 0; /* inset-0 */
  left: 0; /* inset-0 */
  background-color: rgba(31, 41, 55, 0.75); /* equivale a bg-gray-500 bg-opacity-75 */
}

.fixed2 {
  margin-left: auto;
  margin-right: auto;
}

