:root {
  --altura-principal: 64px; /* 64px Define aquí el valor que desees */
}

.principal {
  height: calc(100vh - var(--altura-principal));
  display: flex;
}

.aside {
  display: flex;            /* equivale a flex */
  flex-direction: column;   /* equivale a flex-col */
  color: #4a5568;           /* equivale a text-gray-700 */
  background-color: #f7fafc; /* equivale a bg-gray-100 */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /* equivale a shadow */
  width: 15rem;             /* equivale a w-60 (60/4 = 15rem) */
  height: 100%;             /* equivale a h-full */
}

.main {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
