.tarjeta {
  border-radius: 0.75rem;            /* equivale a rounded-xl */
  margin: 1rem;                      /* equivale a m-4 */
  color: var(--color-texto); /* Volver a variable en lugar de inherit */
  font-size: 0.75rem;                 /* equivale a text-xs */
  margin-left: 1rem;                  /* equivale a mx-4 */
  margin-right: 1rem;                 /* equivale a mx-4 */
   background: var(--color-encabezado); /* Usar variable en lugar de color fijo */
  overflow: hidden;                   /* equivale a overflow-hidden */
  text-decoration: none; /* Esto quita el subrayado */
  border: 1px solid var(--color-bordes);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),
             -6px -6px 12px rgba(255, 255, 255, 0.1);
}

.boton {
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.boton--negro {
  color: white;                /* equivale a text-white */
  background: var(--color-primario);
}

.boton:hover {
  background-color: #2d3748;  /* equivale a hover:bg-gray-800 */
}

.boton--rojo {
  color: #f87171;
  background: var(--color-encabezado);
  border: 1px solid #f87171;
}

.boton--rojo:hover {
  background: #f87171;
  color: white;
}

.boton--gris {
  background: rgba(248, 250, 252, 1); /* equivale a nm-flat-gray-100 */
}

.boton--gris:hover {
  background-color: #edf2f7;  /* equivale a hover:bg-gray-200 */
}

.cuerpo { /* documento index.html */
  background-color: var(--color-fondo);
  min-height: 100vh;
  transition: background-color 0.3s;
}

.label {
  display: block;          /* equivale a block */
  text-transform: uppercase; /* equivale a uppercase */
  font-size: 0.75rem;       /* equivale a text-xs */
  font-weight: bold;        /* equivale a font-bold */
  margin-bottom: 1.5rem;    /* equivale a mb-6 */
  
}

.input {
  background: var(--color-encabezado);
  width: 100%;
  border: 1px solid var(--color-bordes);
  border-radius: 0.75rem;
  padding: 0.5rem;
  color: var(--color-texto);
  transition: all 0.3s ease;
}

.input:focus {
 outline: none;
  border-color: var(--color-primario);
  box-shadow: 0 0 0 2px rgba(99, 179, 237, 0.3);
}

.botones {
  background: linear-gradient(
    to right, 
    var(--color-primario), 
    var(--color-bordes), 
    var(--color-bordes)
  );
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.auth {
  width: 600px;
  margin: 2rem auto;
  position: relative;
  padding: 2rem;
  background: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .auth {
    width: 95%;
    margin: 1rem auto;
    transform: none;
    top: auto;
  }
}

